<?xml version="1.0"?>
<model>
  <name>armadilha</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Gabriel</name>
    <email>qteles.gabriel@gmail.com</email>
  </author>
  <description>
    Modelo da armadilha para o projeto de pesquisa.
  </description>
</model>