<?xml version="1.0"?>
<model>
  <name>Chao de Grama</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Gabriel Queiroz Teles</name>
    <email>qteles.gabriel@gmail.com</email>
  </author>

  <description>
    Chão de grama customizado feito no Blender com texturas PBR 300m x 300m.
  </description>
</model>